<a href="https://colab.research.google.com/github/JuliusNK/Codigo/blob/master/apuntes_clases_3_10_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
(1,6,4,3,5)[-1]

5

In [0]:
indices = {"nom":["BUENA VISTA","LIMA",{"hola":[2,6,5]}]}
indices["nom"][2]["hola"]

[2, 6, 5]

In [0]:
# INDENTACION: Es la forma de escribir en python con los ":" y la sangria

In [0]:
temp = [15, 22, 30]
i=0
val = temp[i]

if 12 <= val < 22: # Tambien se puede hacer esto
    print("El medio ambiente esta muy frío!!!")
elif val == 22:
    print("El medio ambiente presenta condiciones normales")
elif val > 22:
    print("El medio ambiente está cálido!!!!")
else: (" es otro planeta")

El medio ambiente esta muy frío!!!

In [0]:

for numero in list(range(10)):
  if numero >= 0:
    if numero == 0:
        print("Cero")
    else: 
        print("Es un número positivo")
  else: 
    print("Es un número negativo")

Cero
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo
Es un número positivo

In [0]:
for curva in [-100,200,250,600,850,900,1000]:
  if  curva % 200 == 0:
    print("CURVA MAESTRA")
  if curva < 0:
    print("DEPRESION")
  if curva % 200 != 0:
    print("CURVA SECUNDARIA")

DEPRESION
CURVA SECUNDARIA
CURVA MAESTRA
CURVA SECUNDARIA
CURVA MAESTRA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA MAESTRA

In [0]:
200 % 200

0

In [33]:
# cociente entero de una division
200 // 199

1

In [37]:
# Bucles
lista = [1,2,4,5,6,2]
for i in lista:
  y = i ** 2
  print(y, end = " ")

1 4 16 25 36 4

In [0]:
range(50)
range(10,20)
for i in range(10):
  print(i)
  
for i in range(0,-10):
  print(i)
for i in range(10):
  print(i)

In [73]:
for i in range(6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)
for i in range(2,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)
for i in range(2,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)
for i in range(2,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)
for i in range(2,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*
**
***
****
*****
****
***
**
*
**
***
****
*****
****
***
**
*
**
***
****
*****
****
***
**
*
**
***
****
*****
****
***
**
*

In [56]:
list(range(7,0,1))

[]

In [53]:
list(range(7,0))

[]

In [85]:

n = 12
print("Tabla del 5")
for i in range(1,n):
  print("5 X " + str(i) + " = " + str(i * n))

Tabla del 5
5 X 1 = 12
5 X 2 = 24
5 X 3 = 36
5 X 4 = 48
5 X 5 = 60
5 X 6 = 72
5 X 7 = 84
5 X 8 = 96
5 X 9 = 108
5 X 10 = 120
5 X 11 = 132

In [87]:

n = 5
print("Tabla del 5")
for i in range(1,12):
  print("{} x {} = {}".format(n,i,n*i))

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55

In [92]:

n = 12
for j in range(12):
  print("Tabla del " + str(j) + "\n")
  for i in range(1,n):
    print(str(j) + " X " + str(i) + " = " + str(i * j))

Tabla del 0

0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
0 X 11 = 0
Tabla del 1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
1 X 11 = 11
Tabla del 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
Tabla del 3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
Tabla del 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
Tabla del 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
Tabla del 6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
Tabla del 7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
Tabla del 8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
Tabla del 9

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
Tabla del 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
Tabla del 11

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121

In [100]:
from random import randint
# import random : simplemente inportar una libreria
# from random import randint: queremos especificamente la funcion randint de ramdom

[2834, 451, 3162, 2918, 1393, 721, 3199, 3985, 483, 3533, 215, 2773, 3490, 2147, 1302, 3244, 2623, 454, 3013, 3295]

In [126]:
from random import randint
curvas = {"CURVA MAESTRA":[], "DEPRESION":[], "CURVA SECUNDARIA":[]}
value = []
lista = [randint(-50,4000) for p in range(0,20)]
print(lista)
for curva in lista:
  if  curva % 200 == 0:
    print("CURVA MAESTRA")
    curvas["CURVA MAESTRA"].append(curva)
  if curva < 0:
    print("DEPRESION")
    curvas["DEPRESION"].append(curva)
  if curva % 200 != 0:
    print("CURVA SECUNDARIA")
    curvas["CURVA SECUNDARIA"].append(curva)
print(curvas)
curvas.keys()

[3859, 3850, 1119, 1864, 3695, 715, 3099, 194, 2766, 476, 709, 3513, 3108, 2217, 2540, 200, 1699, 430, 3525, 1735]
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA MAESTRA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
CURVA SECUNDARIA
{'CURVA MAESTRA': [200], 'DEPRESION': [], 'CURVA SECUNDARIA': [3859, 3850, 1119, 1864, 3695, 715, 3099, 194, 2766, 476, 709, 3513, 3108, 2217, 2540, 1699, 430, 3525, 1735]}

dict_keys(['CURVA MAESTRA', 'DEPRESION', 'CURVA SECUNDARIA'])

[1]